@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", "Tahoma", sans-serif;
}

body {
  color: rgb(34, 34, 34);
  background-color: rgb(250, 250, 250);
}

p,
input {
  font-size: 16px;
}

div.apps {
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.code-display {
  width: 96%;
  margin: 2%;
  height: 46%;
  border-radius: 8px;
  background-color: rgb(34, 34, 34);
  overflow: hidden;
}

.code-output {
  margin: 20px;
}

.code-output p {
  color: rgb(255, 189, 45);
}

.buttons {
  width: 100%;
  height: 35px;
  background-color: rgb(50, 50, 50);
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 4px;
  background-color: red;
}

.first {
  background-color: rgb(253, 71, 58);
}

.middle {
  background-color: rgb(255, 189, 45);
}

.last {
  background-color: rgb(38, 201, 64);
}

.messages-display {
  width: 96%;
  margin: 2%;
  height: 46%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.message-display {
  width: 100%;
  display: flex;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  margin: 5px 0px;
}

p#icon {
  padding: 0px 7px;
}

div.apps input#inp {
  box-sizing: border-box;
  width: 96%;
  border: 1px solid rgba(0, 0, 0, 0.16);
  padding: 16px;
  margin: 2%;
  border-radius: 5px;
  outline: none;
}

.button-container {
  margin: 2%;
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  text-transform: uppercase;
  padding: 7px 10px;
  font-size: 0.9rem;
  border: none;
  outline: none;
}

.button-container button#get-query {
  background-color: rgb(255, 95, 86);
  border-radius: 10px 0px 0px 10px;
}

.button-container button#clear-chat {
  background-color: rgb(255, 189, 45);
  border-radius: 0px 10px 10px 0px;
}
